<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>


    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>dev.lee.servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>dev.lee.servlets.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerMenu</servlet-name>
        <servlet-class>dev.lee.servlets.ManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeMenu</servlet-name>
        <servlet-class>dev.lee.servlets.EmployeeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Reimbursement</servlet-name>
        <servlet-class>dev.lee.servlets.ReimbursementServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Summary</servlet-name>
        <servlet-class>dev.lee.servlets.SummaryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Summary</servlet-name>
        <url-pattern>/summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerMenu</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeMenu</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reimbursement</servlet-name>
        <url-pattern>/reimbursement/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>welcome_page.html</welcome-file>
    </welcome-file-list>

</web-app>